<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
<p>List</p>
<a href="/logout">Logout</a>
I am {{&username}} !

<p>My Phone Number is : {{phone}}</p>

<p>User list</p>
{{#users}}
   username: {{&username}}
   <br />
{{/users}}
</body>
</html>